body{
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
    position: relative;
}

.topobar{
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topobar p{
    font-weight: 700;
    font-size: 56px;
    line-height: 42px;
    color: #75B79E;
}

.area-geral{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jogo{
    max-width: 1174px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.jogo li{
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    position: relative;
    margin: 17px;
}

.carta{
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
}

.back{ 
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
}

.aberta{
    width: 95%;
    height: 95%;
    left: 50%;
    margin-left: -50%;
    top: 50%;
    margin-top: -60%;
}

.aberta {
    transform: rotateY(180deg);
}

.acerto{
    visibility: visible !important;
}

.virada .aberta {
    transform: rotateY(0deg);
}

.virada .back {
   transform: rotateY(-180deg);
}

.acerto .aberta {
    transform: rotateY(0deg);
}

.acerto .back {
   transform: rotateY(-180deg);
}
